body {
  margin: 0;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  main {
    color: #212121;
    font-family: sans-serif;
    padding: 25px;
  }
  
  header {
    width: 250%;
    display: block;
    background-color: #f9c642;
    font-size: 200%;
    margin: 0;
    padding: 13px 13px 13px 25px;
    font-weight: bold;
    color: #212121;
    font-family: sans-serif;
  }
  
  nav {
    width: 250%;
    display: block;
    background-color: #9bdaf1;
    font-size: 150%;
    margin: 0;
    padding: 13px 13px 13px 25px;
    font-weight: bold;
    color: #212121;
    font-family: sans-serif;
  }
}

@media only screen and (min-device-width : 481px) {
  main {
    color: #212121;
    font-family: sans-serif;
    padding: 25px 0 0 100px;

  }
  
  article {
    width: 560px;
    display: inline-block;
    margin-right: 2em;
  }
  
  header {
    width: 100%;
    display: block;
    background-color: #f9c642;
    margin: 0;
    font-size: 200%;
    padding: 10px 10px 10px 100px;
    font-weight: bold;
    color: #212121;
    font-family: sans-serif;
  }
  
  nav {
    width: 100%;
    display: block;
    background-color: #212121;
    margin: 0;
    font-size: 150%;
    padding: 10px 10px 10px 100px;
    font-weight: bold;
    color: white;
    font-family: sans-serif;
  }
}

h1 {
  color: #112e51;
  font-size: 200%;
}

h2 {
  color: #2e8540;
  font-size: 150%;
}

nav a {
  color: white;
}

.date-stamp {
  background-color: #0071bc;
  font-weight: bold;
  padding: 0.25em;
  text-transform: uppercase;
  color: white;
}
